.footer {
    background-color: rgb(32, 29, 29);
    min-height: 10vh;
    padding:1.8vh;
    text-align: center;
    color:white;
    align-items: center;
    justify-content: center;


}




.rightText{
    display: flex; 
    align-items: center;
    color: rgb(138, 131, 131);
}