.main {
    position: relative;
    max-height:100vh;
    background-image: url(../../assets/images/individual.jpg);
    background-color: rgba(0,0,0, 0.5);
    background-size: cover;
    display:flex;
    flex-direction: column;
    
    
}

.up{
    min-height: 55vh;
    max-height: 55vh;
    max-width: 100%;
    min-width: 100%;
    display:flex;
    justify-content: center;
    text-align: center;
}

.upLeft{
    flex: 0 1 70%;
    max-width: 70%;
    background: rgba(24, 18, 82, 0.3);
    padding: 4vh;
    padding-top: 2vh;
    justify-content: center;
    text-align: center;
    align-items: center;
   
}

.upRight{
    flex: 0 1 30%;
    max-width: 30%;
    background: rgba(29, 106, 179, 0.4);
    padding: 4vh;
    padding-top: 3vh;
   
    
}

.bottom{
    background: rgba(4, 29, 77, 0.8);
    min-height:auto;
    max-height:auto;
    padding:4vh;
    justify-content: center;
    text-align: center;
}
h1{
    color:white;
    font-size: 3.6vh;
}

h2,h3{
    color:rgba(255, 255, 255);
    padding:0.5vh;
    font-size: 3.3vh;
}

p{
    color:white;
    font-size: 3vh;
}

.rankingBox{
    background-color: rgba(23, 65, 40, 0.8);
    border-radius: 1vh;
    overflow-y: scroll;
    max-height: 84%;
    text-align: left;
    padding:1vh;
    padding-left:2vh
}
.bottomBox{
    display:flex;
    flex-direction: row;
    overflow-x: scroll;
    padding:2.2vh;
    background-color: rgba(53, 34, 12, 0.6);
    margin-top: 2vh;
}

.leftUpBox{
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    border: 2px solid white;
    padding:3vh
}

.leftDownBox{
    min-height: 10vh;
    max-height: 10vh;
    border: 2px solid white;
    display:flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content:flex-start;
    overflow-x: scroll;
    padding:2vh

}

.icon{
    width:26%;
    background-color:rgb(184, 224, 199,0.7);
    padding:1vh;
    border-radius: 2vh
}


.card{
    display:flex;
    min-width: 40.5vh;
    justify-content: center;
    padding:3vh;
    min-height: 10vh;
    max-height: 10vh;
    background-color: rgba(5, 71, 49, 0.9);
    margin-right: 2vh;
    flex-direction: column;
    overflow-y: scroll;
}
a {
    text-decoration: none
}

.recommendationHeader{
    color: antiquewhite;
    font-size: 2.7vh;
    font-weight: bold;
}

.recommendedGenre{
    font-size: 2vh;
    margin:0px
}

.circle{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 2vh;
    background-color: rgb(10, 95, 21);
    font-size: 3vh;
    color:azure;
    padding:1vh;
    border-radius: 1vh;
    width:auto
}

.letters{
    margin-top: 2vh;
}
.boldLetters{
    display:inline;
    font-size: 3vh ;
    font-weight: bold;
    color:rgb(13, 139, 13)
}
.normalLetters{
    display:inline;
    font-size: 2vh ;
}



@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  width: 10vh;
  height: 10vh;
  position: fixed;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

.middle{
    top: 50%;
    left: 50%;
    position: absolute;
    display:flex;
    flex-direction: column;

}
