.main {
    position: relative;
    min-height:120vh;
    background-image: url(../../assets/images/individual.jpg);
    background-color: rgba(0,0,0, 0.5);
    background-size: cover;
    display:flex;
    flex-direction: column;
    
    
}

.up{
    min-height: 80vh;
    max-height: 80vh;
    max-width: 100%;
    min-width: 100%;
    display:flex;
    justify-content: center;
    text-align: center;
}

.upLeft{
    flex: 0 1 60%;
    max-width: 60%;
    background: rgb(90, 81, 170,0.3);
    padding: 3vh;
    justify-content: center;
    text-align: center;
    align-items: center;
   
}

.upRight{
    flex: 0 1 40%;
    max-width: 40%;
    background: rgba(9, 67, 122, 0.4);
    padding: 4vh;
    padding-top: 3vh;
   
    
}

.bottom{
    background: rgba(17, 47, 104, 0.4);
    min-height:40vh
}

h1,h2{
    color:white;
    font-size: 4vh;
}

p{
    color:white;
    font-size: 3vh;
}

.rankingBox{
    background-color: rgba(5, 71, 49, 0.8);
    border-radius: 1vh;
    overflow-y: scroll;
    max-height: 84%;
    text-align: left;
    padding:1vh;
    padding-left:2vh
}

.leftUpBox{
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    border: 2px solid white;
    min-height: 25vh;
    max-height: 25vh;
    padding:5vh
}

.leftDownBox{
    min-height: 30vh;
    max-height: 30vh;
    border: 2px solid white;

}

.icon{
    width:60%;
    background-color:rgb(184, 224, 199,0.2);
    padding:1vh;
    border-radius: 2vh
}