
.homeMain {
  position: relative;
  min-height:76vh;
  background-image: url(../../assets/images/main.png);
  background-color: rgb(9, 66, 23,0.7);
  background-size: cover;

}

.insideMain {
    
    position: absolute;
    background-color:rgb(9, 66, 23,0.7);
    color:white;
    font-size:4vh;
    min-height:76vh;
    left:0%;
    width:100%;
}
.wordBox{
  top:40%;
  left:35%;
  position:absolute


}

*{
  margin:0;
  padding:0;
}

h4 {
  font-size: 16px; 
}

p {
  font-size: smaller;
  color: black;
}

.bar{
  background-color:goldenrod;
  box-shadow: 0 1px 1px #ccc;
  border-radius: 2px;
  width: 400px;
  padding: 14px;
  margin: 3vh auto 3px;
  position:relative;
}

.bar input{
  background:#fff no-repeat 13px 13px;
  border: none;
  width: 100%;
  line-height: 19px;
  padding: 11px 0;
  border-radius: 2px;
  box-shadow: 0 2px 8px #c4c4c4 inset;
  text-align: left;
  font-size: 14px;
  font-family: inherit;
  color: #738289;
  font-weight: bold;
  outline: none;
  text-indent: 40px;
}

ul{
  list-style: none;
  width: 425px;
  margin: 0 auto;
  font-size: 3vh;
  text-align: left;
}


ul li{
  background: rgb(129, 122, 122,0.8);
  border-bottom: 3px solid rgb(196, 180, 180);
  padding: 5px;
  overflow: hidden;
}

ul li p{
  text-align: center;
  font-weight: bold;
  padding-top: 7px;
  color:white;
}


a {
  text-decoration: none
}

.searchBox{
  max-height: 25vh;
  overflow-y: scroll;
}
